@import 'nib'
@import 'constants'

@import 'reset'

/* Styles the main interface structure (holding box). */
@import 'mainui'

/* Styles all "panels", which are the floating elements that appear when
   opening toolbar combos, menu buttons, context menus, etc. */ 
@import 'panel'

/* Styles the color panel displayed by the color buttons. */
@import 'colorpanel'

/* Styles to toolbar. */
@import 'toolbar'

/* Styles menus, which are lists of selectable items (context menu, menu button). */
@import 'menu'

/* Styles toolbar combos. */
@import 'richcombo'

/* Styles the elements path bar, available at the bottom of the editor UI.*/
@import 'elementspath'

/* Contains hard-coded presets for "configurable-like" options of the UI
   (e.g. display labels on specific buttons) */
@import 'presets'

.cke_chrome
  visibility: inherit

.cke_voice_label
  display: none

legend.cke_voice_label
  display: none

