.cke_chrome
  display: block
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  border-radius: 5px
  border: 1px solid #D3D3D3
  padding: 5px

.cke_hc.cke_chrome
  padding: 2px

.cke_inner
  display: block
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  -webkit-touch-callout: none
  border-radius: 5px
  background: linear-gradient(365px top, #fff -15px, #d3d3d3 40px)
  padding: 5px

.cke_float
  background: #fff

.cke_float .cke_inner
  padding-bottom: 0

.cke_hc .cke_contents
  border: 1px solid black

.cke_top,
.cke_contents,
.cke_bottom
  display: block
  overflow: hidden

.cke_resizer
  width: 0
  height: 0
  overflow: hidden
  border-width: 12px 12px 0 12px
  border-color: transparent #EFEFEF transparent transparent
  border-style: dashed solid dashed dashed
  margin: 10px 0 0
  font-size: 0
  float: right
  vertical-align: bottom
  cursor: se-resize
  opacity: 0.8

.cke_resizer_ltr
  margin-left: -12px

.cke_resizer_rtl
  float: left
  border-color: transparent transparent transparent #EFEFEF
  border-style: dashed dashed dashed solid
  margin-right: -12px
  cursor: sw-resize

.cke_hc .cke_resizer
  width: 10px
  height: 10px
  border: 1px solid #fff
  margin-left: 0

.cke_hc .cke_resizer_rtl
  margin-right: 0

.cke_wysiwyg_div
  display: block
  height: 100%
  overflow: auto
  padding: 0 8px
  outline-style: none

