@import 'nib'
@import 'constants'

.cke_menubutton
  display: block

.cke_menuitem span
  cursor: default

.cke_menubutton:hover,
.cke_menubutton:focus,
.cke_menubutton:active
  background-color: #D3D3D3
  display: block

.cke_hc .cke_menubutton:hover,
.cke_hc .cke_menubutton:focus,
.cke_hc .cke_menubutton:active
  border: 2px solid

.cke_menubutton_icon
  background-color: #D3D3D3
  border: solid 4px #D3D3D3
  opacity: 0.70
  filter: 'alpha(opacity=70)'
  width: 16px
  height: 16px
  float: left
  clear: both

.cke_rtl .cke_menubutton_icon
  float: right

.cke_menubutton:hover .cke_menubutton_icon,
.cke_menubutton:focus .cke_menubutton_icon,
.cke_menubutton:active .cke_menubutton_icon
  background-color: #9d9d9d
  border: solid 4px #9d9d9d

.cke_menubutton_disabled:hover .cke_menubutton_icon,
.cke_menubutton_disabled:focus .cke_menubutton_icon,
.cke_menubutton_disabled:active .cke_menubutton_icon
  opacity: 0.3
  filter: 'alpha(opacity=30)'

.cke_menubutton_label
  display: block
  padding-right: 3px
  padding-top: 5px
  padding-left: 4px
  height: 19px
  margin-left: 24px
  background-color: #fff

.cke_rtl .cke_menubutton_label
  padding-right: 0
  margin-left: 0
  padding-left: 3px
  margin-right: 28px

.cke_menubutton_disabled .cke_menubutton_label
  opacity: 0.3
  filter: 'alpha(opacity=30)'

.cke_menubutton:hover .cke_menubutton_label,
.cke_menubutton:focus .cke_menubutton_label,
.cke_menubutton:active .cke_menubutton_label
  background-color: #D3D3D3

.cke_panel_frame .cke_menubutton_label
  display: none

.cke_menuseparator
  background-color: #D3D3D3
  height: 2px
  filter: 'alpha(opacity=70)'
  opacity: 0.70

.cke_menuarrow
  background-image: url(../images/sprites.png)
  background-position: 0 -1411px
  background-repeat: no-repeat
  height: 5px
  width: 3px
  float: right
  margin-right: 2px
  margin-top: 3px

.cke_rtl .cke_menuarrow
  float: left
  margin-right: 0
  margin-left: 2px
  background-image: url(../images/sprites.png)
  background-position: 0px -1390px
  background-repeat: no-repeat

.cke_menuarrow span
  display: none

.cke_hc .cke_menuarrow
  width: auto
  margin-top: 0

.cke_hc .cke_menuarrow span
  display: inline

